*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}
.ib {
  display: inline-block;
  vertical-align: middle;
}

/*
垂直居中2
*/
.pat {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*
清除浮动
*/
.cf::after {
  content: '';
  display: table;
  clear: both;
}

/*
鼠标变手
*/
.cp {
  cursor: pointer;
}


a{
  text-decoration:none;
  color:#333;
}

#nprogress {
  .bar {
    background: #7367F0 !important; //自定义颜色
  }

  .spinner-icon {
    border-color: #7367F0 transparent transparent #7367F0;
  }
}

.el-menu-item.is-active{
  background-color: #f1f0fe;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
